body {
  margin: 0;
  padding: 0;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* Nav */

#navbar {
  position: fixed;
  width: 300px;
  height: 100%;
  border-right: 5px solid gray;
}

#navbar header {
  font-size: 2.4rem;
  text-align: center;
  border-bottom: 1px solid #000;
  padding: 14px 0;
}

#navbar ul {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

#navbar a {
  text-decoration: none;
  color: #000;
}

.nav-link {
  display: block;
  border-bottom: 1px solid #000;
  padding: 16px 0 16px 20px;
}


/* Main */

#main-doc {
  margin-left: 300px;
  padding: 0 40px;
}

#main-doc header {
  font-size: 2rem;
}

p, article {
  line-height: 1.4rem;
}

#main-doc ul {
  line-height: 1.8rem;
}

.main-section {
  margin: 40px 0;
}

code {
  display: block;
  background-color: rgb(230, 230, 230);
  padding: 20px 10px;
  margin: 16px 0;
}

@media screen and (max-width: 815px) {
  body {
    flex-direction: column;
  }
  #navbar{
    border: none;
    position: static;
    width: 100%;
    height: 290px;
  }

  #navbar ul {
    width: 100%;
  }
  
  #main-doc {
    margin: 0;
    margin-top: 60px;
    padding: 10px;
  }
}